**/__pycache__
**/*.py[cod]
**/*.egg-info
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.coverage
**/htmlcov
**/coverage.xml
**/.env
**/.git
**/.gitignore

frontend/node_modules
frontend/dist
frontend/tsconfig.tsbuildinfo

backend/tests
agent/tests

pgdata/
*.md
LICENSE
.pre-commit-config.yaml
.github/
